.reset-password {
    margin: 50px auto;
  
    .card-email {
      border: none;
      box-shadow: none;
  
      .card-email-header {
        background-color: unset;
        border: unset;
        text-align: center;
        padding: 1rem 1.25rem;
      }
  
      .card-email-body {
        padding-top: 0;
      }
    }
  }
  
  .reset-password-txt {
    color:  #b2d235;
    font-size: 30px;
    font-family: $font_UTM_BryantLG;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    margin: 0;
  }
  
  .reset-password-guide {
    color: #505353;
    font-size: 20px;
    font-family: $font_UTM_BryantLG;
    font-weight: bold;
    margin: 0;
  }
  
  .form-reset-email {
    .label-reset-email {
      label {
        color: #505353;
        font-size: 20px;
        font-family: $font_UTM_BryantLG;
        font-weight: bold;
        margin: 0;
      }
    }
  
    .input-reset-email {
      input {
        height: 45px;
        background-color:  #f2f2f2;
        border: 1px solid #e2e2e2;
        color: black;
        margin: 0.5rem 0;
      }
    }
  }
  
  .btn-reset-password {
    .btn-reset{
      height: 42px;
      width: 220px;
      background-color: #b2d235;
      box-shadow: inset 0px 1.5px 2px #6f8710;
      font-size: 18px;
      font-family: $font_UTM_BryantLG;
      font-weight: bold;
      color: white;
      border: none;
      border-radius: 22px;
  
      &:hover {
        color: #505353;
      }
    }
  }
  
  .enter-new-password {
    .input-container {
      label {
        color: #505353;
        font-size: 20px;
        font-family: $font_UTM_BryantLG;
        font-weight: bold;
        margin: 0;
      }
    }
  }
  
  .main-input {
    input {
      background-color: #f2f2f2;
      border: 1px solid #e2e2e2;
      color: black;
      margin: 0.5rem 0;
    }
  }